body{

	padding: 0px;
	margin: 0;
	background-image: -ms-radial-gradient(
				center bottom, 
				circle farthest-corner, 
				#FFFFFF 0%, #00A3EF 100%);
	background-image: -moz-radial-gradient(
				center bottom, 
				circle farthest-corner, 
				#FFFFFF 0%, #00A3EF 100%);
	background-image: -o-radial-gradient(
				center bottom, 
				circle farthest-corner, 
				#FFFFFF 0%, #00A3EF 100%);
	background-image: -webkit-gradient(
			radial, center bottom, 0, 
			center bottom, 553,
			 color-stop(0, #FFFFFF), 
		 	color-stop(1, #00A3EF));
	background-image: -webkit-radial-gradient(
				center bottom, 
				circle farthest-corner, 
				#FFFFFF 0%, #00A3EF 100%);
	background-image: radial-gradient(
		circle farthest-corner at center bottom, 
		#FFFFFF 0%, #00A3EF 100%);
	background-repeat: no-repeat;
    background-attachment: fixed;
}


#content{

	height: 100%;
	width: 1024px;
	margin: 0 auto;
}

#nav{

	width: 100%;
	float:left;
}

#nav ul{


	padding: 10px;
	list-style-type: none;
	text-align: center;
}

#nav ul li{
	display: inline;

}

#nav ul li a{

	text-decoration: none;
	padding: .5em 1em;
	color: #fff;
	background-color:#207cca;
    color:#fafafa;
    border:2px solid #207cca;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;

}

#nav ul li a:hover{

background-color:#fafafa;
color:#207cca;

}

.button {
                padding:9px 20px;
                width: 230px;
                cursor:pointer;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
                font-size: 13px;
                font-family: 'Open Sans', sans-serif;
}
.button:hover  {
                background-color:#fafafa;
                color:#207cca;
}


#container
{
	float: left;
	height: auto;
	width: 100%;

}

.search {
     padding:13px 15px;
     background-color: white;
     border:0px solid #dbdbdb;
     width: 200px;
}


#saveImage
{
	/*margin: 0 auto;*/
	margin-left:36%;
	width: fit-content;
	width: -moz-fit-content;
    width: -webkit-fit-content;
	padding: 20px;
	height: auto;
}

.errorMsg{

	color:#3366FF;
	font-family: 'Open Sans', sans-serif;
}

#message{

	margin-top: 2em;

}

.text{

	color:#3366FF;
	font-family: 'Open Sans', sans-serif;
}



