
body{

	padding: 0px;
	margin: 0;
	background-color: #FFFFFF;
	text-align: center;
}


#content{

	height: 100%;
	width: 1024px;
	margin: 0 auto;

}

#nav{

	width: 100%;
	float:left;
}

#nav ul{


	padding: 10px;
	list-style-type: none;
	text-align: center;
}

#nav ul li{
	display: inline;

}

#nav ul li a{

	text-decoration: none;
	padding: .5em 1em;
	color: #fff;
	background-color:#207cca;
    color:#fafafa;
    border:2px solid #207cca;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

}

#nav ul li a:hover{

background-color:#fafafa;
color:#207cca;

}


#search{
	
	float: left;
	width: 100%;
	height: auto;
	text-align: center;
}

form{

	width: 500px;
	margin:50px auto;

}

.search {
     padding:8px 15px;
     background:rgba(50, 50, 50, 0.2);
     border:0px solid #dbdbdb;
     width: 250px;
}

.button {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
                cursor:pointer;
}
.button:hover  {
                background-color:#fafafa;
                color:#207cca;
}


#bar{
	margin: 0 auto;
}


#display{

	height: 100%;
	width: 100%;
	text-align: center;
	float: left;
	padding-top: 1em;

}

.container{

	width: 200px;
	height: 200px;
	margin: 0 .5em .5em .5em;
	text-align: center;

}


#frame{

	width: auto;
	height: auto;
	margin: 0 auto;

}





.black_overlay{

   display: none;
  -moz-opacity: 0.8;
  opacity:    0.8; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 

}

.white_content {

	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 600px;
	height: auto;
	padding: 16px;
	border: 5px solid #207cca;
	background-color: white;
	z-index:1002;
	border-radius: 50px;

}


#imgThumb
{
	display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;

}

.inner{

	max-width:200px;
    max-height:200px;
    width:auto;
    height:auto;
    border: 0;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    cursor:pointer;
}

#imgNormal{

	display: inline-block;
    width: 500px;
    height: 400px;
    position: relative;

}


#normal{


	max-width:500px;
    max-height:400px;
    width:auto;
    height:auto;
    border: 0;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;

}


.popHeaderItem{

	width: 100%;
	float: left;
	margin-top: .3em;
}

#popDesc{

	width: 95%;
	margin-left: 2.5%;
	margin-right: auto;
	text-align: left;
	float: left;
	overflow: auto;

}

#message{

	color:#207cca;
	font-family: Arial, Helvetica, sans-serif ;
	margin: 50px;

}




#pagIndex{

	margin-top: 40px;
	width: 100%;
	text-align: center;

}

#pag{

	margin-right: 20px;
	text-align: center;
	padding:3px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#fafafa;
    color:#207cca;

}





