<!DOCTYPE html>
 <html>
<head>
	<title>Rehoster</title>
	<link rel = "stylesheet" type = "text/css" href ="{{STATIC_URL}}/submit.css">
	<script type="text/javascript">





	</script>
</head>
<body>


	<div id = "content">


		<div id = "nav"> 

			<ul>

				<li><a class="sel" href=" ">Rehoster</a></li>
				<li><a href="/view/">Images</a></li>

			</ul>

		</div>


		<div id = "container"> 

			<div id = "saveImage"> 

				<form method="POST" action="" id="sub"> {% csrf_token %}

					<table>
						<tr class = "errorMsg">
							<td>{{form.title.errors| striptags}}</td>
						</tr>
						<tr>
							<td>{{form.title}}</td>
						</tr>
						<tr class = "errorMsg">
							<td>{{form.url.errors| striptags}}</td>
						</tr>
						<tr>
							<td>{{form.url}}</td>
						</tr>
						<tr class = "errorMsg">
							<td>{{form.desc.errors| striptags}}</td>
						</tr>
						<tr>
							<td>{{form.desc}}</td>
						</tr>
						<tr>
							<td><input class = "button" type="submit" value = "Rehost Image"></td>
						</tr>

					</table>

			    </form>	

			    {% if Msg %}

			    <span class = "errorMsg"><p>{{Msg}}</p></span>

			    {%endif%}


			</div>

		</div>


	</dic>





	
</body> 
</html>