<!DOCTYPE html>
 <html>
<head>
	<title>Rehoster</title>
	<link rel = "stylesheet" type = "text/css" href ="{{STATIC_URL}}/submit.css">
</head>
<body>


	<div id = "content">


		<div id = "nav"> 

			<ul>

				<li><a class="sel" href=" ">Rehoster</a></li>
				<li><a href="/view/">Images</a></li>

			</ul>

		</div>


		<div id = "container"> 

			<div id = "saveImage"> 

				<form method="POST" action=""> {% csrf_token %}

					<table>

						<tr>
							<td>{{form.title}}</td>
							<td>{{form.title.errors}}</td>
						</tr>
						<tr>
							<td>{{form.url}}</td>
							<td>{{form.url.errors}}</td>
						</tr>
						<tr>
							<td>{{form.desc}}</td>
							<td>{{form.desc.errors}}</td>
						</tr>

					<table>


					<input class = "button" type="submit" value = "Rehost Image">

			    </form>	


			</div>

		</div>


	</dic>





	
</body> 
</html>