<!DOCTYPE html>
 <html>
<head>
	<title>Rehoster</title>
	<link rel = "stylesheet" type = "text/css" href ="{{STATIC_URL}}/submit.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<script type="text/javascript">
	</script>
</head>
<body>


	<div id = "content">


		<div id = "nav"> 

			<ul>

				<li><a class="sel" href=" ">Rehoster</a></li>
				<li><a href="/view/">Images</a></li>

			</ul>

		</div>


		<div id = "container"> 

			<div id = "saveImage"> 

				<form method="POST" action="" id="sub"> {% csrf_token %}

					<table>
						<tr>
							<td>{{form.title}}</td>
							<td><span class="errorMsg">{{form.title.errors| striptags}}</span></td>
						</tr>
						<tr>
							<td>{{form.url}}</td>
							<td><span class="errorMsg">{{form.url.errors| striptags}}</span></td>
						</tr>
						<tr>
							<td>{{form.desc}}</td>
							<td><span class="errorMsg">{{form.desc.errors| striptags}}</span></td>
						</tr>
						<tr>
							<td style="display:none;">{{form.pcim}}</td>
						</tr>
						<tr>
							<td><input class = "button" type="submit" value = "Rehost Image"></td>
						</tr>
					</table>

			    </form>	

			</div>

			
			    {% if Msg %}

			    <span id="message" style="text-align:center;" ><p class = "errorMsg">{{Msg}}</p></span>

			    {%endif%}

		</div>


	</dic>

	
</body> 
</html>