<!<!DOCTYPE html>
<html>
<head>
	<title>Images</title>
	<link rel = "stylesheet" type = "text/css" href ="{{STATIC_URL}}/view.css">
	<script type="text/javascript">

		var pop = function(_alt){

			
			document.getElementById('light').style.display='block';
			document.getElementById('fade').style.display='block';

			{%for im in ImgList%}

				if("{{im.title}}" == _alt)
				{
					document.getElementById('normal').src ="{{STATIC_URL}}/{{im.title}}";
					var t = "{{im.title}}".charAt(0).toUpperCase()+"{{im.title}}".slice(1);
					t = t.split(".")[0];
					document.getElementById('imtit').innerHTML = "Title: "+t;
					document.getElementById('imdate').innerHTML = "Date Uploaded: "+"{{im.timestamp}}";
					document.getElementById('imdesc').innerHTML = "Description: "+"{{im.desc}}";
				}

			{%endfor%}

		}


		var unpop = function(){

			document.getElementById('light').style.display='none';
			document.getElementById('fade').style.display='none';
			
		}


	</script>
</head>
<body>

	<div id = "content">

		<div id = "nav"> 

			<ul>

				<li><a href="/">Rehoster</a></li>
				<li><a href="/view/">Images</a></li>

			</ul>

		</div>

		<div id = "search">

			<div id = "bar">

				<form method = "POST" action =" "> {% csrf_token %}

					<input class = "search" type = "textfield" placeholder ="Search...(Img title)" name ="im_id"></input>
					<input class= "button" type = "Submit" value = "Search">

				</form>

			</div>

		</div>

		<div id ="display">


				

				<table id = "frame" >
		
					<tr>
					{%for img in page.object_list%}

		
						<td ><div  class="container">


								<span id = "imgThumb">
								<img class = "inner" onclick="pop(this.alt)" alt ="{{img.title}}"  src ="{{STATIC_URL}}/thumb-{{img.title}}"></img></span>

						</div></td>

						{% if forloop.counter|divisibleby:4 %}
					</tr>
					<tr>
						{%endif%}

					{%endfor%}
					</tr>


				</table>

				{% if Msg %}

					<span id = "message"><p>{{Msg}}</p></span>

				{% endif %}




				<!-- Pagination -->
		<div id = "pagIndex">

				{% if page.has_previous %}
					  <input class= "button" type = "Submit" value = "Previous" onclick ="window.location='?page={{page.previous_page_number}}'">
				{%endif%}

				<span id ="pag"> {{page.number}} </span>

				{% if page.has_next %}
						<input class= "button" type = "Submit" value = "Next" onclick ="window.location='?page={{page.next_page_number}}'">
				{%endif%}


		</div>
		<!-- Pagination -->





			
		</div>	

		<!-- end display -->


		<!--Floating Pop div -->

	<div id="light" class="white_content">


        <div id = "popHeader">

        	<span class = "popHeaderItem"<p id ="imtit"></p></span>
        	<span class ="popHeaderItem"<p id = "imdate"></p>

     	</div>
     	<div id = "popImage">

     		<span id ="imgNormal">
     			<img id="normal" alt =" " src ="">
     		</span>
     			


     	</div>
     	<div id = "popDesc">

     		<p id = "imdesc"></p>

     	</div>

     	  <input class= "button" type = "Submit" value = "Close" onclick ="unpop()">

 	</div>

    <div id="fade" class="black_overlay"></div>
    
    <!-- end floating Pop div -->

	</div>

	
</body>
</html>













